.reason{
    display: flex;
    padding: 0 2rem;
    gap: 3rem;
}
.reason .left{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
}
.reason .left img{
    object-fit: cover;
}
.reason .left img:nth-of-type(1){
    width: 12rem;
    height: 30rem;
    grid-row:  span 2;
}
.reason .left img:nth-of-type(2){
    height: 16rem;
    width: 30rem;
    grid-column:  span 2;
}
.reason .left img:nth-of-type(3){
    height: 13rem;
}
.reason .left img:nth-of-type(4){
    height: 13rem;
    width: 13rem;
}
.reason .right{
    flex: 1;
}
.reason .right>div:nth-of-type(1){
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}
.reason .right>div:nth-of-type(2){
    color: #fff;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 40px;
    text-transform: uppercase;
}
.reason .right>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.reason .right>ul>li{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    position: relative;
    margin-left: 30px;
    text-transform: uppercase;
}
.reason .right>ul>li::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 28px;
    background-image: url("../../assets/tick.png");
    background-size: cover;
    background-repeat: no-repeat;
    left: -28px;
    width: 28px;
}
.reason .right .partners{
    margin-top: 20px;
}
.reason .right .partners>div:nth-of-type(1){
    font-size: 24px;
    color:var(--gray)
}
.reason .right .partners .brand{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/* 以下代码为媒体查询 适配移动端 */
@media screen and (max-width: 768px){
    .reason{
        flex-direction: column;
    }
    .reason .left{
        grid-auto-rows: auto;
        overflow: hidden;
    }

    .reason .right .partners{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

