.footer-wrap{
    margin: 6rem 0;
    position: relative;
}

.footer-wrap .social-link{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 6rem;
}
.footer-wrap .social-link img{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .2s linear;
}
.footer-wrap .social-link img:hover{
    transform: scale(1.2);
}
.footer-wrap .footer-logo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.footer-wrap .footer-logo img{
    width: 8rem;
}
.footer-blur-l{
    width: 30rem;
    height: 24rem;
    background-color: rgba(255, 0, 0, 0.3);
    right:2rem;
    top:2rem
}
.footer-blur-r{
    width: 30rem;
    height: 24rem;
    right: 44rem;
    top: 10rem
}

/* 以下代码为媒体查询 适配移动端 */
@media screen and (max-width: 768px){
    .footer-wrap{
        margin: 0;
        margin-bottom: 3rem;
    }
}